<li class="fitWidth fitHeight normal" data-tags="{{tags autolink="false"}}">
    <div>
        <a href="{{url}}" class="centered-image image">
            <img src="{{image}}" alt="{{title}}" />
        </a>
        <div class="l-box description">
            <div class="tags">
            <a href=""><span class="small-text">Ісландія</span></a>
            </div>
            <h5><a href="{{url}}">{{title}}</a></h5>
            <p>{{excerpt words=10}}</p>
        </div>
    </div>
</li>
