<li class="featured" data-tags="{{tags autolink="false"}}">
    <div class="row">
        <div class="medium-6 large-8 columns fitWidth image">
            <a href="{{url}}" class="centered-image">
                <img src="{{image}}" alt="{{title}}" />
            </a>
        </div>
        <div class="medium-6 large-4 columns description">
            <div class="tags">
                <a href=""><span class="small-text">Ісландія</span></a>
            </div>
            <h3><a href="{{url}}">{{title}}</a></h3>
            <p>{{excerpt words="20"}}</p>
            <a href="{{url}}" class="button">Читати далі...</a>
        </div>
    </div>
</li>
