{{!< default}}

{{#post}}
            <article class="large-12 columns" style="height: 100%;" itemscope itemtype="http://schema.org/Article">
                <div class="l-box">
                    <h1 itemprop="headline">{{title}}</h1>
                    <p>
                        <span class="icon-text tag">
                            {{tags separator=", "}}
                        </span>
                    
                        <span class="icon-text time">
                            <time datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">{{date format='dddd DD MMM YYYY'}}</time>
                        </span>
                    </p>

                    <div class="article-content" itemprop="articleBody">
                    {{content}}
                    </div>
                    
                    {{> block-comments}}
                    
                        {{> block-prevnext}}

                    <footer>
                        {{> block-share}}

                        {{> block-author}}
                    </footer>
                </div>
            </article>
{{/post}}

{{> block-pagination}}

<script>
$(document).ready(function () {
  $(".article-content > p > img").parent('p').addClass("fitImage");
});

function initMap() {
  var geocoder = new google.maps.Geocoder();
  $(".map-block").each(function(i, mapBlock) {
    var mapDiv = $("<div></div>")
    	.css("height", "100%")
    	.addClass("map-holder");
   	$(mapBlock).append(mapDiv);
    var map = new google.maps.Map(mapDiv[0], {
      zoom: $(mapBlock).data("zoom"),
      center: new google.maps.LatLng(0.0, 0.0)
    });
    geocoder.geocode( { 'address': $(mapBlock).data("address") }, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location,
          title: $(mapBlock).data("title")
        });
      }
    });
  }) 
}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap"></script>
