{{!< default}}

{{#post}}
            <article class="large-12 columns" style="height: 100%;" itemscope itemtype="http://schema.org/Article">
                <div class="l-box">
                    <h1 itemprop="headline">{{title}}</h1>
                    <p>
                        <span class="icon-text tag">
                            {{tags separator=", "}}
                        </span>
                    
                        <span class="icon-text time">
                            <time datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">{{date format='dddd DD MMM YYYY'}}</time>
                        </span>
                    </p>

                    <div class="article-content" itemprop="articleBody">
                    {{content}}
                    </div>
                    
                    {{> block-comments}}
                    
                        {{> block-prevnext}}

                    <footer>
                        {{> block-share}}

                        {{> block-author}}
                    </footer>
                </div>
            </article>
{{/post}}

{{> block-pagination}}

<script>
    $(document).ready(function () {
        $(".article-content > p > img").parent('p').addClass("fitImage");
    });
</script>
